/*复位样式*/
html,body {
    background: #101010;
    padding: 0px;
    margin: 0px;
    /*color: #fff;*/
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}
a{
	color:#aaa;
	text-decoration: none;
}
a:hover{
	color:#fff;
	text-decoration:none; 
}
a:focus{
	color:#fff;
	text-decoration:none; 
	outline: none;
}
:focus{
	text-decoration:none; 
	outline: none;
}
li{
	list-style: none;
}
ul{
	padding: 0px;
}

/*工具箱*/
.float_left{
	float: left;
}
.float_rigth{
	float: right;
}
.text_center{
	text-align: center;
}
.clear{
	clear:both;
}
.imgwidth{
	width: 100%;
}
.text_red {
    color:orangered;
}


/*导航条样式*/
.pp_header{
	background: black;
	padding:20px 0px;
	color: #fff;
	font-size: 20px;
	position: fixed;
	top:0px;
	width:100%;
	color:#aaa;
	z-index: 2;
}
.logo img{
	height: 55px;
    display: block;
    margin: -10px auto
}

.search_input{	
    font-size: 13px;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top,rgba(0,0,0,1) 0%,rgba(22,22,22,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,1)),color-stop(100%,rgba(22,22,22,1)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,1) 0%,rgba(22,22,22,1) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,1) 0%,rgba(22,22,22,1) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,1) 0%,rgba(22,22,22,1) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,1) 0%,rgba(22,22,22,1) 100%);
    color: #fff;
    font-weight: normal;
    padding: 8px 15px;
    border: none;
    width: 80%;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.support {
	position: relative;
}
.support span{
	margin:0 2px;
	cursor: pointer;
}
.mune ul li{
	display: inline-block;
	font-size: 13px;
	padding:4px 20px;
	cursor:pointer;
	color: #aaa;
}
.mune ul li:hover{
	color:#fff;
}
.mune .pp_down_menu>ul>li:hover{
	color: #000;
}
ul.nav_more{
	background: #161616;
}
ul.nav_more li a{
	color:#aaa;
}
ul.nav_more li a:hover{
	color:#fff;
	background: transparent;	
} 
input.pp_input_m{
	font-size: 13px;
    background: #222 !important;
    color: #fff;
    font-weight: normal;
    padding: 8px 15px;
    border: none !important;
    width: 80%;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
input.pp_inut_m:focus{
    outline:none !important;
}
span.pp_black_span{
	background: #222;
	border:1px solid #222;
	color:#aaa;
}
span.glyphicon-remove-circle{
	color:red;
}
span.glyphicon-ok-circle{
	color:green;
}
.per_list_show {
	width: 150px;
	font-size: 16px;
	position: absolute;
	right: 99px;
	z-index: 4;
	text-align: right;
    position: absolute;
    display: none;
    top: 41px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 5px;
    background: rgb(0, 0, 0);
    
}
.per_list_show:before,.per_list_show:after {
	content: "";
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
}
.per_list_show:before {
    border-color: rgba(37,37,37,0);
    border-top-color: #252525;
    border-width: 19px;
    left: 84px;
    top: -38px;
}
.per_list_show:after {
    border-color: rgba(8,8,8,0);
    border-top-color: #080808;
    border-width: 15px;
    left: 87.6px;
    top: -30.5px;
}
.per_list_show ul {
	width: 100%;
	margin-bottom: 0;
	padding: 5px 0;
}
.per_list_show ul li {
	padding: 10px;
	padding: 5px 10px;
}

