<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的最爱</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_PIPACKER__/pipacker/css/mainpage.css">
	<style type="text/css">
		.favorites_main {
			margin-top: 150px;
			font-family: '宋体';
		}
		.favorites_main .media img {
			width: 70px;
			height: 70px;
		}
		.favorites_main .media .media-heading {
			color: #fff;
			font-size: 30px;
			margin-top: 5px;
		}
		.favorites_main .media p {
			color: #aaa;
			font-size: 18px;
		}
		.favorites_main [class^="col-md"] img{
			max-width: 330px;
    		max-height: 240px;
    		display: block;
    		margin:0 auto;
		}
	</style>
	<script src="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/js/bootstrap.min.js"></script>
	<script src="__PUBLIC_PIPACKER__/pipacker/js/user.js"></script>
</head>
<body>
	{include file="common/navigation"}
	<div class="favorites_main container">
      	<div class="media">
        	<div class="media-left">
           		<img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
        	</div>
        	<div class="media-body">
          		<h4 class="media-heading">我的收藏</h4>
          		<p>谁谁谁的收藏</p>
        	</div>
      	</div>
      	<div class="row" style="margin-top: 70px;">
      		<div class="col-md-4">
      			<a href="">
      				<img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
      			</a>
      		</div>
      		<div class="col-md-4">
      			<a href="">
      				<img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/2.jpg" alt="">
      			</a>
      		</div>
      		<div class="col-md-4">
      			<a href="">
      				<img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
      			</a>
      		</div>
      	</div>
    </div>
</body>
</html>