
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active show_img_list" id="tab1">
				<div class="show_img_content">
					<ul class="show_img_ul">
						<li class="show_content_img">
							<a href="javascript:;">
								<img src="" class="m_img" data-id="">
								<p></p>
							</a>
						</li>
					</ul>
				</div>
			</div>
	<div role="tabpanel" class="tab-pane" id="tab3">
		<div class="followers row" style="padding: 0 200px; margin-top: 80px; overflow: hidden; margin-bottom: 50px;">
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">傻子</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">白痴</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">智障</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">(╯‵□′)╯炸弹！•••*～●</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">全军出击(((ꎤ'ω')و三 ꎤ'ω')-o≡</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">发起进攻(　 ´-ω ･)▄︻┻┳══━一</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">ԅ(≖‿≖ԅ)咩咩咩流氓</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">|ω･`)暗中观察</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">(ꈍεꈍ (ꈍ□ꈍ (ꈍㅿꈍ (ꈍ罒ꈍ﹡)</p>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="tab4">
		<div style="margin: 0 200px; text-align: left; position: relative; margin-top: 80px;">
			<!-- <div class="comment"> -->
			<div class="introduction">
				
				
				
				<div class="show_yours">
					<h1 style="text-align: center;">我的介绍</h1>
					<button class="createInt">写出你的风采</button>
				</div>
				<!-- 显示文章 -->
				<p class="show_intro_text"></p>
				<div class="edit_show">
					<button class="cancel_intro">取消</button>
					<button class="save_intro">保存</button>
					<textarea class="introduction_text"></textarea>
				</div>
				
			</div>
			<div class="comment">
				<h1 class="guestbook">留言板</h1>
				<textarea class="comment_text" placeholder="在这里写出你的评论"></textarea>
	        	<button class="comment_text_btn">发布</button>
			</div>
			<div class="comment_container">
		        
	      	</div>
		</div>
	</div>
</div>
